<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Undergraduate in Information Systems with experience in telecommunication and technology projects from international companies like Accenture and Indra Company. Graduating student in Master in Informatics researching in the Information Systems area, detecting traffic congestion events using text analysis in social media data. Member of Social Network Analysis and Social Computing Laboratory of the Federal University of Rio de Janeiro. Currently working as Data Analyst in the Atlas of Brazilian State Project, at Applied Economic Research Institute (IPEA).</p>
</div><!--//summary-->
</section><!--//section-->