<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Raphael Fonseca worked for multinational companies for a big brazilian telecom firm and SEFAZ-RJ, public Rio de Janeiro state entity of financial regulations.
    Nowadays Raphael Fonseca studies for his Master's Degree in Computer Science on the Federal University of Rio de Janeiro. Member of the Social Computing and 
    Social Network Analysis Laboratory, he studies identification of traffic jam problems.</p>
</div><!--//summary-->
</section><!--//section-->