 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Science</h4>
    <h5 class="meta">Federal University of Rio de Janeiro</h5>
    <div class="time">2015 - In Progress</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Information Systems</h4>
    <h5 class="meta">University of Grande Rio</h5>
    <div class="time">2006 - 2010</div>
</div><!--//item-->
</div><!--//education-container-->