<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analyst / Programmer PL-SQL</h3>
                            <div class="time">2014 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Indra, Rio de Janeiro</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Use cases analysis and relational database programmer on SEFAZ-RJ to implement business rules in PL-SQL.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Integration System Analyst</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Indra, Rio de Janeiro</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Member of the SOA Architecture Team, divided function to Analyze, model and design the new OI Telecom SOA Architecture, based on conventions worldwide known, as TAM. Development of Proof of Concepts (POCs), as well as services in Oracle platforms, such as BPEL, Service Bus and Enterprise Repository.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Analyst</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Accenture, Rio de Janeiro</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Analysis of diverse complex Service Oriented Architecture (SOA) systems and databases to identify current production problems on OI Telecom company.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->